header {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 50px 0 100px;
}

.image-grid img {
    width: 350px;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 23.6%);
    justify-content: center;
}